* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* SignInPage */
.signin-container-wrapper {
  padding: 0 0 48px 0;
  border-right: 1px solid #eceef4;
  border-left: 1px solid #eceef4;
  max-width: 1080px;
  min-height: 100vh;
  position: relative;
}

.signin-container-wrapper > .row {
  margin: auto;
  justify-content: center;
  padding-top: 96px;
}

.signin-container-wrapper > .row > .col {
  padding: 0;
  max-width: 540px;
}

/* SignUpPage */
.signup-container-wrapper {
  padding: 0;
  border-right: 1px solid #eceef4;
  border-left: 1px solid #eceef4;
  max-width: 1080px;
  min-height: 100vh;
}

.signup-container-wrapper > .row {
  margin: auto;
  justify-content: center;
}

.signup-container-wrapper > .row > .col-xl-6 {
  max-width: 540px;
}

.signup-wrapper {
  padding: 56px 0 0 0;
}

/* Form inputs */
.form-control {
  border: 1px solid #dfe0e4;
  height: 46px;
}

.form-control:focus,
.select:focus,
input[type="checkbox"]:focus {
  box-shadow: none;
  border: 1px solid #dfe0e4;
}

.form-label {
  color: #1a1f36;
}

/* Privacy footer */
.footer-position {
  position: absolute;
  bottom: 0;
}

/* Input checkboxes */
input[type="checkbox"] {
  border: 1px solid #dfe0e4;
  cursor: pointer;
}

.form-check-label {
  cursor: pointer;
}

input[type="checkbox"]#signin-checkbox:checked,
input[type="checkbox"]#signup-checkbox:checked {
  background-color: #635bff;
  border: 1px solid #635bff;
}

/* Form buttons */
.form-btn,
.form-btn:hover {
  height: 46px;
  background-color: #635bff;
  color: #fff;
}

.form-btn:focus {
  box-shadow: none;
}

/* Sign in & sign up route sections */
.signup-route-sec {
  margin-top: 36px;
  text-align: center;
}

.signin-route-sec {
  margin-top: 28px;
}

.signin-route-sec p {
  padding-left: 21px;
  color: #3c4257;
}

.signup-route-sec p {
  color: #3c4257;
}

.signup-route-sec p span,
.signin-route-sec p span {
  color: #635bff;
  cursor: pointer;
}

/* Sign in & Sign up form sections */
.signin-form-section {
  padding: 57px 67px 95px 67px;
}

.signup-form-section {
  padding: 57px 67px 22px 67px;
}

.left-side-wrapper {
  padding: 162px 80px 0 16px;
  position: relative;
}

/* Responsive */
@media only screen and (max-width: 575px) {
  .signin-form-section {
    padding: 57px 16px 60px 16px;
  }

  .signin-container-wrapper > .row {
    margin: auto;
    justify-content: center;
    padding-top: 0;
  }

  .signup-form-section {
    padding: 57px 16px 34px 16px;
  }

  .signup-wrapper {
    padding: 0;
  }
}

@media only screen and (max-width: 1199px) {
  .left-side-wrapper {
    padding: 60px 16px 20px 16px;
    min-height: 500px;
    position: relative;
  }
}

@media only screen and (max-width: 360px) {
  .left-side-wrapper {
    padding: 60px 16px 20px 16px;
    min-height: 550px;
    position: relative;
  }
}

/* Shared properties */
.mb-24 {
  margin-bottom: 24px;
}

.mb-26 {
  margin-bottom: 26px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-32 {
  margin-bottom: 32px;
}

.mb-34 {
  margin-bottom: 34px;
}

.mb-36 {
  margin-bottom: 36px;
}

.mb-42 {
  margin-bottom: 42px;
}

.mb-56 {
  margin-bottom: 56px;
}

.mb-58 {
  margin-bottom: 58px;
}

.title-color {
  color: #3c4257;
}
